body {
  height: 100vh;
  margin: 0;
}

.header {
  width: 100%;
  height:  fit-content;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightblue;
}

.header-table {
  width: 100%;
  height:  fit-content;
  box-sizing: border-box;
  background-color: lightblue;
  table-layout: fixed;
  border-collapse: collapse;
}

.header-left {
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  text-align: end;
  padding: 10px;
  vertical-align: middle;
}

.header-right {
  text-align: end;
  vertical-align: middle;
}

.main {
  min-height: calc(100% - 62px * 2);
  width: 100%;
  table-layout: fixed;
  display: table;
}

.main-left {
  display: table-cell;
  vertical-align: top;
  width: 75%;
  height: 100%;
}

.main-left-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.main-left-table,.main-left-table td {
  border: 0 !important;
}

.main-left-top {
  display: table-row;
}

.main-left-top-left {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% / 3);
  padding: 10px;
  box-sizing: border-box;
  text-align: end;
  background-color: lightcoral;
  font-size: medium;
}

.main-left-top-right {
  display: table-cell;
  vertical-align: middle;
  width: calc(200% / 3);
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: end;
  background-color: white;
  font-size: medium;
}

.main-left-bottom {
  display: table-row;
  height: fit-content;
}

.main-left-bottom-content {
  display: table-cell;
  column-span: 2;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgreen;
}

.main-right {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  width: 25%;
  height: 100%;
  text-align: end;
  padding: 10px;
  background-color: lightcoral;
  font-size: medium;
}

.footer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightblue;
}

.footer-table {
  width: 100%;
  height: fit-content;
  background-color: lightblue;
  table-layout: fixed;
  border-collapse: collapse;

}

.footer-left {
  width: 25%;
  background-color: white;
  text-align: start;
  padding: 10px;
  font-size: medium;
}

.footer-right {
  text-align: end;
  vertical-align: middle;
}
